version: '3'

services:
  db_service:
    container_name: sleeprDB
    image: mongo:5
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGODB_DATABASE: sleepr_db
    volumes:
      - ./mongo:/data/db

  reservations:
    depends_on:
      - db_service
    container_name: reservationsService
    build:
      context: .
      dockerfile: ./apps/reservations/Dockerfile
      target: development
    command: pnpm run start:dev reservations
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app