version: '3'

services:
  db_service:
    container_name: sleeprDB
    image: mongo:5
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGODB_DATABASE: sleepr_db
    volumes:
      - ./mongo:/data/db

  reservations:
    depends_on:
      - db_service
    container_name: reservationsService
    build:
      context: .
      dockerfile: ./apps/reservations/Dockerfile
      target: development
    command: pnpm run start:dev reservations
    env_file:
      - ./apps/reservations/.env
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app

  auth:
    depends_on:
      - db_service
    container_name: authService
    build:
      context: .
      dockerfile: ./apps/auth/Dockerfile
      target: development
    command: pnpm run start:dev auth
    env_file:
      - ./apps/auth/.env
    ports:
      - "3001:3001"
    volumes:
      - .:/usr/src/app

  payments:
    depends_on:
      - db_service
    container_name: paymentsService
    build:
      context: .
      dockerfile: ./apps/payments/Dockerfile
      target: development
    command: pnpm run start:dev payments
    env_file:
      - ./apps/payments/.env
    ports:
      - "3003:3003"
    volumes:
      - .:/usr/src/app